# skiboss/requirements.txt

# Framework Web
fastapi
uvicorn  # Servidor ASGI para FastAPI

# Procesamiento de Datos
pandas
numpy
scikit-learn

# Fuentes de Datos (NUEVAS Y COMPATIBLES)
yfinance
pandas-ta

# Inteligencia Artificial (El Cerebro)
torch

# Utilidades
pydantic
